.h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-data{
    margin-top: 0.5rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#add-btn{
    background-color: green;
    border: none;
    color: white;
    padding: 1rem 3rem;
    border-radius: 10px;;
}
.grid-container{
       display: grid;
       justify-content: center;
       grid-template-columns: 300px 200px 150px;
       column-gap: 2rem;
       
}
 .output-data{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;

}
#delete-btn{
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    height: 60px;
} 